@font-face {
  font-family: "KentledgeBold";
  src: url("./assets/fonts/kentledge-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
